.top-container {
    background-color: #d1e7ec;
    padding-top: 100px;
    position: relative;
}

h1 {
    color: #3cb3b3;
    margin: 50px auto 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5rem; /*16px = 100% = 1em = 1rem (Doesn't add up the parent's font-size) */
    line-height: 2;
}

body {
    background-color: rgb(243, 243, 229);
    color: #40514E;
    font-family: cursive;
    margin: 0;
    text-align: center;
}

h2 {
    color: #3cb3b3;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
}

h3, a {
    color: #11999E;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

a {
    margin: 20px 20px;
    text-decoration: none;
}

a:hover {
    color: #eaf6f6;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mid-container {
    /* background-color: red;
    height: 200px;
    width: 200px; */
}

.bottom-container {
    /* background-color: blue;
    border: 10px;
    border-style: solid; 
    height: 200px;
    margin-left: 520px;
    width: 200px; */
    background-color: #66bfbf;
    height: 30%;
    margin: 30px auto auto auto;
    padding: 50px 0 20px;
}

/* #full-stack {
    text-decoration: underline;
} */

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.images {
    height: 300px;
    width: 150px;
}

#subtitle {
    font-weight: normal;
}

.footer-link, .btn {
    font-weight: bold;
}

.skill-row {
    margin: 100px auto 100px auto;
    width: 50%;
}

.skill-row {
    line-height: 2;
    text-align: left;
}

.images-skill {
    float: left;
    margin-right: 30px;
    width: 15%;
    height: 15%;
}

.images-passion {
    float: right;
    margin-left: 30px;
    width: 15%;
    height: 15%;
}

.BUTTON_MCI {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 14px;
    line-height: 14px;
    color: #FFFFFF;
    font-family: Times New Roman;
    width: 185px;
    font-size: 20px;
    font-weight: 900;
    padding: 12px;
    background-color: #11999E;
    text-shadow: 1px 1px 6px #3E80B4;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_MCI:hover {
    background: #4378CE;
    border: solid #99C624 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 .image-profile {
     margin: 100px auto 50px auto;
 }

 .contact-message {
     width: 40%;
     margin: 40px auto;
 }

 .intro {
     margin: 50px auto;
     width: 42.5%;
 }

 .copyright {
     color: #eaf6f6;
     font-size: .75rem;
     padding: 20px 0;
 }